/* #nav_menu ul li{
  color: red;
} */
#nav-item ul li a :hover{
  background: rgb(67, 67, 236);
  color: #333;
}
.container {
  display: grid;    
  grid-template-columns: repeat(12, 1fr);
}

aside {
  grid-column: span 2;
  height: auto;
}
main {
  grid-column: span 10;
  height:auto;
}
p{
  margin-top: 20px;
  font-weight: bold;
  color:rgb(66, 27, 240);
}
td{
  padding-left: 30px;
}
tr:hover{
  background-color: cyan;
}
.title_main{
  font-size: 1em;
  margin-left: 40px;
  margin-top: 40px;
  color: rgb(241, 145, 19);
}
.card-body{
  margin-left: 100px;

}
/* .image:hover{
  opacity: 1;
  transition: .10s ease;
  backface-visibility: hidden;
} */
blockquote{
  padding-top: 30px;
  padding-left: 20%;
}
.BT_top{
  margin-left: 40px;
  margin-bottom: 40px;
}
#BT2{
  margin-left: 40px;
  margin-right: 40px;
}
.logo{
  margin-left: 40px;
  margin-top: 40px;
}
#logo2{
  margin-left: 50px;
  margin-right: 50px;
}
#logo3{
  margin-left: 50px;
  margin-right: 50px;
}
#logo4{
  margin-left: 50px;
  margin-right: 50px;
}
.footer{
  display: flex;
}
.footer_p{
  margin-left: 50px;
  margin-top: 100px;
}
.Email{
  margin-left: 150px;
  margin-top: 100px;
}
#BT_dk{
  margin-left: 50px;
  margin-top: 20px;
}
.footer_left{
  margin-left: 50px;
}
#footer_center_p{
  margin-top: 100px;
  margin-left: 100px;
}
#footer_right_p{
  margin-top: 50px;
}


